body {
	background-color: orange;
}

#reg-form {
	top: 3%;
	bottom: auto;
	padding-left: 20px;
	padding-left: 20px;
	font-weight: normal;
	color: black;
	text-align: left;
	font-size: 18px;
	background-color: rgb(244, 190, 64, .9);
	background-blend-mode: lighten;
	font-size: 18px;
	color: black;
}

#reg-submit {
	text-align: center;
	font-size: 24px;
}

#reg-header {
	text-align: center;
	font-size: 24px;
}

#submit-button {
	background-color: orange;
	color: black;
	font-size: 18px;
	font-weight: bold;
	background-color: lightgray;
	border: 2px solid black;
}

.login-field {
	top: 25%;
	color: black;
	font-weight: normal;
}

.login-label {
	top: 25%;
	color: white;
	font-weight: normal;
}

#logged-in-as {
	color: white;
	font-size: 14px;
	font-style: italic;
}

label {
	font-weight: normal;
}

#login-fail {
	color: red;
	font-weight: bold;
}

#login-button {
	color: black;
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
}

#join-button {
	font-size: 25px;
	font-weight: bold;
	background-color: orange;
	border: 2px solid black;
	position: relative;
	top: -30px;
}

#carousel-caption {
	top: 3%;
	bottom: auto;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
}

#VSBO {
	width: 100%;
	font-size: 12px;
	text-align: center;
	font-style: italic;
	text-align: center;
}

#suggestion-history {
	width: 100%;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

#show-cards {
	font-size: 18px;
}

#card-type {
	font-size: 18px;
}

#home-button {
	color: black;
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
}

#profile-button {
	color: black;
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
}

#logout-button {
	color: black;
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
}

#card-container {
	overflow: scroll;
	font-size: 8px;
	background-color: lightgray;
	width: 80%;
	height: 500px;
	border-style: solid;
	border-width: medium;
	border-color: black;
	padding-top: 5px;
}

#learnable-card {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #f4be41;
	border-style: solid;
	border-width: medium;
	border-color: black;
}

#teachable-card {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: lightblue;
	border-style: solid;
	border-width: medium;
	border-color: black;
}

#history-card {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #f4be41;
	border-style: solid;
	border-width: medium;
	border-color: black;
}

#card-column {
	margin-left: 20px;
}

.card-title {
	font-size: 24px;
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

.card-text {
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
}

.card-comment {
	font-size: 16px;
	text-decoration: none;
	font-style: italic;
	text-align: left;
}

#div-photo {
	width: 120px;
}

#col-photo {
	width: 150px;
}

#card-button {
	width: 100%
}

#accept-button {
	font-size: 14px;
	color: black;
	background-color: green;
	border-style: solid;
	border-width: medium;
	border-color: black;
}

#decline-button {
	font-size: 14px;
	color: black;
	background-color: red;
	border-style: solid;
	border-width: medium;
	border-color: black;
}

#accept-button {
	font-size: 14px;
	color: black;
	background-color: orange;
	border-style: solid;
	border-width: medium;
	border-color: black;
}
