/* The CSS from here down 265 lines is for the profile page cards.	 */

/* Google Font */
        @import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

        /* Font Icons from WeLoveIconFonts */
        @import url(http://weloveiconfonts.com/api/?family=entypo);

        /* entypo */
        [class*="entypo-"]:before {
            font-family: 'entypo', sans-serif;
        }

        .entypo-mail {
            margin-right: 10px;
        }

        /* Let the Styling Begin! */

        /* ClearFix Hack */

        .cf:before,
        .cf:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        .cf:after {
            clear: both;
        }

        /**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
        .cf {
            *zoom: 1;
        }

        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            min-height: 100%;
            width: 100%;
            background-color: #dff3ff;
            font-size: 20px;
            font-family: 'Pathway Gothic One', sans-serif;
        }

        h1, h4 {
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
        }

        h1 {
            font-size: 3.25em;
        }

        h4 {
            font-size: 2.25em;
        }

        p {
            font-size: 1.25em;
            padding: 0.75em;
        }

        a {
            text-decoration: none;
            color: #edfeff;
            font-weight: 400;
            font-size: 1.25em;
        }

        /* Launch Styles */

        #launch-button {
            display: block;
            position: relative;
            background-color: #e04646;
            margin: 0 auto 4em;
            width: 100%;
            height: 40px;
            padding: 15px 0 5px;
            border-bottom: 4px solid #bc2525;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
        }

        /* Containing Styles */

        .folding-wrapper {
            margin: 0 auto;
            width: 480px;
            height: auto;
        }

        /* Profile Styles*/

        .profile {
            margin: 0;
            background: url('https://lh6.googleusercontent.com/-gaQGNmVw1kM/UqmGJcZrlnI/AAAAAAAAA84/G4Y6gxm8SfM/s630-fcrop64=1,00000a99ffffcb00/04122010198.jpg') center bottom no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            border-bottom: solid 3px #112d3c;
            vertical-align: top;
        }



            .profile p {
                color: #FFF;
                text-align: center;
                padding: 0.125em;
                margin: 0.5em 0 0;
            }

            .profile .job {
                width: 200px;
                background-color: rgba(0,0,0,0.6);
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: 300;
                font-size: 0.85em;
                padding: 0.2725em;
                margin: 0.5em auto 1em;
                text-shadow: 0px 0px 5px #000000;
                filter: dropshadow(color=#000000, offx=0, offy=2);
            }

        .social {
            width: 100%;
            margin: 0;
            padding: 0;
        }

            .social > li {
                margin: 0 -0.5em 0 0;
                display: inline-block;
                width: 4.145em;
                padding: 0.5em 0;
                color: #FFF;
                font-size: 1.25em;
                background-color: #e04646;
                border-top: solid 3px #bc2525;
                border-bottom: solid 3px #bc2525;
                text-align: center;
                cursor: pointer;
            }

                .social > li:hover {
                    background-color: #bc2525;
                    -webkit-transition: background-color 0.125s ease-in;
                }

        .profile-photo {
            margin: 0 auto;
            display: block;
            width: 8em;
            height: 8em;
            border: solid 3px white;
            -webkit-border-radius: 4em;
            -moz-border-radius: 4em;
            border-radius: 4em;
            box-shadow: -1px 2px 6px 1px #141211;
        }

            .profile-photo:hover {
                transform: rotate(360deg);
        transition: transform 0.33s linear 0s;
            }

        /* Form Styles */

        .contact-form {
            position: relative;
            margin: 0 auto;
            padding: 1em 1em 0;
            width: 22em;
            background-color: #194b67;
        }

            .contact-form div {
                display: block;
                width: inherit;
            }

        label {
            margin: 0 0 0.75em;
            position: relative;
            display: inline-block;
            color: #fff;
            background-color: #e04646;
            height: 1.25em;
            width: 1.25em;
            padding: 0.2em;
            text-align: center;
            vertical-align: middle;
            font-size: 1.125em;
        }

            label > span {
                position: absolute;
                top: 0.25em;
                left: 0.38em;
                margin: 0;
                padding: 0;
            }

        .textarea-label {
            position: relative;
            height: 171px;
        }


        input[type="text"], input[type="Email"], input[type="phone"], textarea {
            display: inline-block;
            margin: 0 0 0.75em;
            width: 31.9em;
            height: 3em;
            padding-left: 0.5em;
            outline: none;
            font-size: 0.625em;
            background-color: #e2f1f6;
            border: none;
            vertical-align: top;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box;
            text-transform: uppercase;
        }

        #send {
            width: 50px;
            margin: 0 auto;
            color: #FFF;
            text-align: right;
            font-size: 2.5em;
            padding: 0;
            cursor: pointer;
        }

        textarea {
            height: 180px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box;
        }

            input[type="text"]:focus, input[type="Email"]:focus, input[type="phone"]:focus, textarea:focus {
                background-color: white;
                color: #444;
            }

        new {
            /* Using the custom font we've included in the HTML tab: */
            font-family: Satisfy, cursive;
            font-weight: normal;
            font-size: 24px;
            padding-top: 60px;
        }